<a href="https://colab.research.google.com/github/luishernandezpw/Progra-III-2022/blob/master/Introduccion%20a%20Python%20A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hola Mundo", "Bienvenidos a Programacion Computacional III, con Python")
print("Mi nombre es: ", "Luis Hernandez")

hola Mundo Bienvenidos a Programacion Computacional III, con Python
Mi nombre es:  Luis Hernandez

In [ ]:
nombre = "Luis Hernandez"
print("Hola ", nombre, type(nombre))

nombre = 25
print("Tu edad es: ", nombre + 2, type(nombre))

Hola  Luis Hernandez <class 'str'>
Tu edad es:  27 <class 'int'>

In [ ]:
nombre = "Luis Hernandez"
print("Tu nombre es: ", nombre, "Longitud de tu Nombre: ", len(nombre), "Iniciales: ", nombre[0],nombre[5])

Tu nombre es:  Luis Hernandez Longitud de tu Nombre:  14 Iniciales:  L H

In [ ]:
num1 = 5
num2 = 4.6
resp = num1 + num2
print("La suma de num1: ", num1 , " + num2: ", num2, "es igual a: ", resp)

La suma de num1:  5  + num2:  4.6 es igual a:  9.6

In [ ]:
num1 = float(input("Ingrese un numero entero: "))
num2 = float(input("Ingrese otro Num decimal: "))
resp = num1 + num2
print("SUma", resp, type(resp))

Ingrese un numero entero: 7
Ingrese otro Num decimal: 3
SUma 10.0 <class 'float'>

In [ ]:
nombre = input("Dime tu nombre: ")
print(nombre, type(nombre), len(nombre))

print(nombre[0], nombre[1], nombre[2], nombre[3])

Dime tu nombre: Luis
Luis <class 'str'> 4
L u i s

In [ ]:
resp = 4 - 4 * 6 / 2 + 1
print(resp)

-7.0

In [ ]:
gustaProgramacion = True #False
print("Te gusta programar: ", gustaProgramacion)

gustaDiseno = False
print("Te gusta diseñar: ", gustaDiseno)

Te gusta programar:  True
Te gusta diseñar:  False

In [ ]:
def suma(num1, num2):
  return num1 + num2
print("La suma de 5 + 7 = ", suma(5,7))

La suma de 5 + 7 =  12

In [ ]:
def suma(num1, num2):
  return num1 + num2
num1 = float(input("Dime un numero: "))
num2 = float(input("Dime otro numero: "))

print("La suma es: ", suma(num1, num2))

Dime un numero: 5
Dime otro numero: 4
La suma es:  9.0

In [ ]:
suma = lambda num1,num2: num1 + num2

In [ ]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
print( "La respuesta es: ", suma(num1, num2))

Num1: 5
Num2: 4.5
La respuesta es:  9.5

In [ ]:
lista = [2,7,8,6,9]

In [ ]:
cuadrado = lambda num: num**2

In [ ]:
print( type(cuadrado) )

<class 'function'>

In [ ]:
cubo  = lambda num: num**3

In [ ]:
potencia = lambda num, n: num**n

In [ ]:
print("Lista: ", lista, " al cuadrado: ", list( map(cuadrado, lista) ), " al cubo: ", list(map(cubo, lista)) )

Lista:  [2, 7, 8, 6, 9]  al cuadrado:  [4, 49, 64, 36, 81]  al cubo:  [8, 343, 512, 216, 729]

In [ ]:
print( "2 al cubo es: ", potencia(4, 5) )

2 al cubo es:  1024

In [ ]:
print("Lista Original: ", lista, " al cubo: ", list(map(lambda num: num**3, lista)) )

Lista Original:  [2, 7, 8, 6, 9]  al cubo:  [8, 343, 512, 216, 729]

In [ ]:
fpares = lambda num: num%2==0 # %=> Modulo=> devuelve el residuo de una division 5/2 = 1=>residuo

In [ ]:
fimpares = lambda num: num%2!=0

In [ ]:
print("Lista original: ", lista, " solo pares: ", list(filter(fpares, lista)), " los impares: ", list(filter(fimpares, lista)) )

Lista original:  [2, 7, 8, 6, 9]  solo pares:  [2, 8, 6]  los impares:  [7, 9]

In [ ]:
suma = lambda a,b: a+b

In [ ]:
#import functools

In [ ]:
import functools
print("Lista original: ", lista, "la suma: ", functools.reduce(suma, lista), " media Aritmetica: ", functools.reduce(suma, lista)/len(lista) )

Lista original:  [2, 7, 8, 6, 9] la suma:  32  media Aritmetica:  6.4

In [ ]:
c= 27

In [ ]:
def convertirCaF(c):
  return c*9/5 + 32

In [ ]:
print("Celsius a F: ", convertirCaF(c))

Celsius a F:  80.6

In [ ]:
gradosCiudades = [27, 30, 32, 35, 40, 45]

In [ ]:
print(gradosCiudades, "Respuesta: ", list(map(convertirCaF, gradosCiudades)) )

[27, 30, 32, 35, 40, 45] Respuesta:  [80.6, 86.0, 89.6, 95.0, 104.0, 113.0]

In [ ]:
gradosf = [80.6, 86, 89.6, 95, 104, 113]

In [ ]:
def convertirFaC(f):
  return (f-32) * 5/9

In [ ]:
print(gradosf, " Respuesta: ", list(map(convertirFaC, gradosf)) )

[80.6, 86, 89.6, 95, 104, 113]  Respuesta:  [26.999999999999996, 30.0, 32.0, 35.0, 40.0, 45.0]

In [ ]:
print(gradosf, " Respuesta: ", list(map(lambda f: (f-32)*5/9, gradosf)) )

[80.6, 86, 89.6, 95, 104, 113]  Respuesta:  [26.999999999999996, 30.0, 32.0, 35.0, 40.0, 45.0]

**Trea:** 
* Hacer un algoritmo en python que convierta de grados Celsius a Kelvin y viceversa, usando funciones de usuario y lambda.

* Hacer un algoritmo en python que encuentre la Nota Final de Ciclo de una Materia en Particular usando funciones de usuario y lambda.

In [8]:
edades = (2,5,12,18,65,100) #La tupl es inmutable, es decir, no podemos cambiar su valor y se declara con parenteis pero se usa con corchetes
print( edades, "La edad de bebe es la mejor: ", edades[0] )

#edades[0] = 1, es inmutable, no se puede modificar

(2, 5, 12, 18, 65, 100) La edad de bebe es la mejor:  2

In [11]:
print("Edades: ", edades, "Responsabilidades: ", tuple( filter(lambda e:e>=18, edades) ) )
print("Edades: ", edades, " Al cuadrado: ", tuple(map(lambda n:n**2, edades)) )

Edades:  (2, 5, 12, 18, 65, 100) Responsabilidades:  (18, 65, 100)
Edades:  (2, 5, 12, 18, 65, 100)  Al cuadrado:  (4, 25, 144, 324, 4225, 10000)

In [16]:
notas = [6,8,10] #Listas, son mutables, es decir, podemos cambiar sus valores y se declaran y usan con corchetes
print("Notas Originales: ", notas)

notas[0] = 9
print("Notas: ", notas)

Notas Originales:  [6, 8, 10]
Notas:  [9, 8, 10]

In [17]:
notasProgra = [
    [9,8,10], #C1
    [10,6,9], #C2
    [10,9,10] #C3
]
print(notasProgra)

[[9, 8, 10], [10, 6, 9], [10, 9, 10]]

In [19]:
print("Lab2 de C1", notasProgra[0][1] )

Lab2 de C1 8

In [35]:
notas = [
    [ #Progra III
      [9,8,[8,9]], #C1
      [10,6,9], #C2
      [10,9,10] #C3
    ], 
    [ #Estadistica
      [5,7,10], #C1
      [9,8,9],  #C2
      [10,10,10]#C3
    ],
    [ #BD
      [7,8,9],  #C1
      [9,8,7],  #C2
      [10,9,10],#C3
    ], 
    [ #Ingles
      [8,9,10], #C1
      [9,10,9], #C2
      [10,10,10]#C3
    ],
    [ #Circuito Digitales
      [5,8,7], #C1
      [8,7,9], #C2
      [9,10,9] #C3
    ]
]
import functools
print( "Lab1 de Estadistica en C1", notas[1][0][0], "NOta de Parcial C1 de Progra III: ",functools.reduce(lambda a,b: a+b, notas[0][0][2])/2 )

Lab1 de Estadistica en C1 5 NOta de Parcial C1 de Progra III:  8.5

In [48]:
#diccionarios (JSON): Se declaran con llaves pero se usan con corchetes
misNotas = {
    "Programa III":{
        "C1": {
          "Lab1":9,"Lab2":8, "Parcial":{"ParteI":8, "ParteII":9}
        },
        "C2":{
          "Lab1":10,"Lab2":6, "Parcial":9
        },
        "C3":{
          "Lab1":10,"Lab2":6, "Parcial":9
        }
    },"Estadistica":{
        "C1": {
          "Lab1":5,"Lab2":7, "Parcial":10
        },
        "C2":{
          "Lab1":9,"Lab2":8, "Parcial":9
        },
        "C3":{
          "Lab1":10,"Lab2":10, "Parcial":10
        }
    }, "BD":{
        "C1": {
          "Lab1":7,"Lab2":8, "Parcial":9
        },
        "C2":{
          "Lab1":9,"Lab2":8, "Parcial":7
        },
        "C3":{
          "Lab1":10,"Lab2":9, "Parcial":10
        }
    }, "Ingles":{
        "C1": {
          "Lab1":8,"Lab2":9, "Parcial":10
        },
        "C2":{
          "Lab1":9,"Lab2":10, "Parcial":9
        },
        "C3":{
          "Lab1":10,"Lab2":10, "Parcial":10
        }
    }, "Circuitos Digitales":{
        "C1": {
          "Lab1":5,"Lab2":8, "Parcial":7
        },
        "C2":{
          "Lab1":8,"Lab2":7, "Parcial":9
        },
        "C3":{
          "Lab1":9,"Lab2":10, "Parcial":9
        }
    }
}
print("Lab1 en C1 de Estadistica: ", misNotas["Estadistica"]["C1"]["Lab1"])
misNotas["Estadistica"]["C1"]["Lab1"] = float(input("Lab1: "))
print("Lab1 en C1 de Estadistica: ", misNotas["Estadistica"]["C1"]["Lab1"])

Lab1 en C1 de Estadistica:  5
Lab1: 10
Lab1 en C1 de Estadistica:  10.0